
    /* heading and byline color changed to green*/
    h1{
        color: darkgreen;
        font-family: Arial, Helvetica, sans-serif
    }

    #byline{
        color:green;
        font-family:Arial, Helvetica, sans-serif
    }


#image {
    float: inline-start
}

/* width is good for laptop/landscape orientation*/
body {
    width: 50%;
    margin: auto;

}

/* changed the font size of caption and aligned it to the right*/
#caption {
    text-align: right;
    font-size: 0.75em
}

/* changes width of text when looking at website from phone*/
@media (orientation: portrait){
    body{
    width:95%;
    font-size: 2em;

    }

}

/* how to comment in CSS */ 

/*
during coding - can use this to look at different divs 
div{

border:solid 2px green

}

*/ 