
    /* heading and byline color changed to green*/
    h1{
        color: darkblue;
        font-family: Arial, Helvetica, sans-serif
    }
    #byline{
        color:skyblue;
        font-family:Arial, Helvetica, sans-serif
    }



/* width for landscape orientation*/
body {
    width: 50%;
    margin: auto;

}


/* width for portrait/phone*/
@media (orientation: portrait){
    body{
    width:95%;
    font-size: 2em;

    }

}

